@model IEnumerable<deneme.Models.Stk>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MalAdi)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.MalKodu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MalAdi)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.MalKodu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
